@model ASP4_Forum.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title.</h2>
<h3>Associate your @ViewBag.LoginProvider account.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Association Form</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
        Please enter a user name for this site below and click the Register button to finish
        logging in.
    </p>
    <div class="form-group mx-auto col-sm-4">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2  font-weight-bold text-info" })
        <div class="input-group">
            <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Example: Michael Jackson", @style = "max-width:100%" } })
        </div>
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group mx-auto col-sm-4">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2  font-weight-bold text-info" })
        <div class="input-group">
            <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Example: Michael Jackson", @style = "max-width:100%" } })
        </div>
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group mx-auto col-sm-4">
        @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
        <div class="input-group">
            <span class="input-group-text"><i class="fas fa-globe"></i></span>
            @Html.DropDownListFor(model => model.CountryID, ViewBag.ListCountries as SelectList, new { @class = "form-control", @style = "max-width:100%", @id = "mycountrydrop" })
        </div>
        @Html.ValidationMessageFor(model => model.CountryID, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mx-auto col-sm-4">
        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
        <div class="input-group">
            <span class="input-group-text"><i class="fas fa-building"></i></span>
            @Html.DropDownListFor(model => model.CityID, ViewBag.ListCities as SelectList, new { @class = "form-control", @style = "max-width:100%", @id = "mycitydrop" })
        </div>
        @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
        <div id="loading" style="display:none;">
            <p class="text-danger">Loading Cities...</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    </div>
}
<script>
    $(document).ready(function () {

        $('#mycountrydrop').change(function () {

            var citydrop = $('#mycitydrop');
            citydrop.empty();
            var cntr = $(this).val();
            if (cntr) {

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCities", "Account")',
                    data: { CountryID: cntr },
                    dataType: "json",
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            citydrop.append('<option value="' + data[i].ID + '">' + data[i].CityName + '</option>');
                        }
                    },
                    error: function (result) {
                        $('#mycitydrop').html('<option value="">Error Country or no Cities</option>');
                    }

                });
            }
            else {
                $('#mycitydrop').html('<option value="">Select Country or no Cities</option>');

            }

        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryunobtrusive")
}
