@model ASP4_Forum.Models.ViewModels.ThemeViewModel



<div class="modal-dialog flipInY animated">
    <div class="modal-content">
        <div class="modal-header text-center">
            <h4 class="modal-title">Create new Theme</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>

        @using (Html.BeginForm("CreateTheme", "Home", FormMethod.Post, htmlAttributes: new { id = "formcr" }))
        {@Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="form-actions no-color">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group mx-auto">
                    <label class="col-11 text-info"><b>Give the Name to your Theme</b></label>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control col-11 mx-auto" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-actions no-color">

                <div class="form-group mx-auto">
                    <label class="col-11 text-info"><b>Choose Parent Partition</b></label>
                    @*@Html.LabelFor(model => model.Section, htmlAttributes: new { @class = "col-11 font-weight-bold text-info" })*@

                    @Html.DropDownListFor(model => model.PartitionID, ViewBag.ListPartitions as SelectList, new { @class = "form-control col-11 mx-auto" })
                    @Html.ValidationMessageFor(model => model.PartitionID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="modal-footer mx-auto col-11">



            <input type="submit" value="Create Theme" class="btn btn-success col-5 mr-auto" />
            <button type="button" class="btn btn-primary col-5" data-dismiss="modal">Cancel</button>


        </div>
    }
    </div>
</div>

