
@using ASP4_Forum.Models.ViewModels
@using ASP4_Forum.Models
@model SectionEditModel
@{
    ViewBag.Title = "Edit Theme";
}


<div class="modal-dialog flipInY animated modal-lg">
    <div class="modal-content">
        <div class="modal-header text-center">
            <h4 class="modal-title">@ViewBag.Title</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>



        @Html.ValidationSummary()
        @using (Html.BeginForm("EditSectionContent", "Home", FormMethod.Post, htmlAttributes: new { id = "formcr" }))
        {
            <div class="modal-body">
                <input type="hidden" name="ID" value="@Model.Section.ID" />
                <div class="panel panel-primary">
                    <div class="panel-heading">Add to section <b>@Model.Section.Name</b></div>
                    <table class="table table-striped tble table-hover table-bordered">
                        <colgroup>
                            <col class="text-left" />
                            <col />
                        </colgroup>
                        @if (Model.NonMembers.Count() == 0)
                        {
                            <thead>
                                <tr>
                                    <th colspan="2">No partitions</th>
                                </tr>
                            </thead>
                        }
                        else
                        {

                            <tr class="text-center">
                                <th style="width:70%" class="table-primary">Partition Name</th>
                                <th class="table-success">Add to Section</th>
                            </tr>
                            foreach (Partition partition in Model.NonMembers)
                            {
                                <tr>
                                    <td>@partition.Name</td>
                                    <td class="text-center">
                                        <input type="checkbox" name="IdsToAdd" value="@partition.ID">
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading text-danger">Remove from section <b>@Model.Section.Name</b></div>
                    <table class="table table-striped table-bordered table-hover">
                        @if (Model.Members.Count() == 0)
                        {

                            <tr>
                                <th colspan="2" class="table-warning">No Partitions in this Section</th>
                            </tr>

                        }
                        else
                        {

                            <tr class="text-center">
                                <th style="width:70%" class="table-primary">Partition Name</th>
                                <th class="table-danger">Remove from section</th>
                            </tr>
                            foreach (Partition partition in Model.Members)
                            {
                                <tr>
                                    <td>@partition.Name</td>
                                    <td class="text-center">
                                        @*<input type="checkbox" name="IdsToDelete" value="@user.Id">*@
                                        <input type="hidden" name="IDChild" value="@partition.ID" />
                                        <select name="IDParent">
                                            @foreach (Section mysection in ViewBag.Sections)
                                            {
                                                if (partition.Section.ID == mysection.ID)
                                                {
                                                    <option value="@mysection.ID" selected>@mysection.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@mysection.ID">@mysection.Name</option>
                                                }

                                            }
                                        </select>

                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success col-3 mr-5 ml-auto">Save changes</button>
                @*@Html.ActionLink("Cancel and return", "Index", null, new { @class = "btn btn-warning col-3 mr-auto" })*@
                <button type="button" class="btn btn-primary col-3 mr-auto" data-dismiss="modal">Close</button>
            </div>
        }
    </div>
</div>