@model IEnumerable<ASP4_Forum.Models.Partition>
@using ASP4_Forum.Models


<div class="modal-dialog modal-xl">
    <div class="modal-content">
        
        <div class="modal-body">

            <h3 class="text-center">Partitions</h3>
            <table class="table table-striped table-bordered table-hover">
                <tr class="text-center table-primary">
                    <th style="width:18%">Date</th>
                    <th>Partition Name <br /><small>Click on name to edit</small></th>
                    <th>Themes</th>
                    <th>Action</th>
                </tr>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="4" class="text-center">No any Partitions yet..</td>
                    </tr>
                }
                else
                {
                    foreach (Partition mypartition in Model)
                    {
                        <tr>
                            <td> @mypartition.Date</td>
                            <td class="text-info"><a class="Edit-partitionname" href="/Home/EditPartitionName/@mypartition.ID"><strong>@mypartition.Name</strong></a></td>
                            <td>
                                @if (mypartition.Themes == null || mypartition.Themes.Count() == 0)
                                {
                                    @: No Themes in this Partition
                                }
                                else
                                {
                                    <p>
                                        @string.Join(", ", mypartition.Themes.Select(x => x.Name))
                                    </p>
                                }
                            </td>
                            <td>

                                @Html.ActionLink("Edit descendants", "EditPartitionContent", new { id = mypartition.ID },
                                    new { @class = "Edit-partition btn btn-primary col-sm-6", style = "float:left; margin-right:7px" })
                                @Html.ActionLink("Delete", "DelPartition", new { id = mypartition.ID }, new { @class = "Del-partition btn btn-danger col-sm-5 " })

                            </td>
                        </tr>
                    }
                }
            </table>

            <div class="text-center">
                <a class="Create-partition btn btn-success col-3" data-toggle="modal" href="/Home/CreatePartition">Create</a>
            </div>
            <div class="text-center mt-4"><a class="btn btn-block btn-primary" href="/Manage/AdminSection">Back to Admin Sections</a> </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryunobtrusive")
}


<div class="modal hide fade" id="modalS" role="dialog" tabindex="-1">


</div>



<script type="text/javascript">

    $(function () {
        $('.Create-partition').on('click', function (e) {
            e.preventDefault();
            // alert(this.href);
            $.get(this.href, function (result) {

                $('#modalS').html(result);
                $('#modalS').modal('show');
                var form = $('#formcr');
                form.removeData('validator');
                form.removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse(form);
            });
        });

      

        $('.Del-partition').on('click', function (e) {
            e.preventDefault();
            $.get(this.href, function (result) {

                $('#modalS').html(result);
                $('#modalS').modal('show');
                var form = $('#formcr');
                form.removeData('validator');
                form.removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse(form);
            });
        });

        $('.Edit-partition').on('click', function (e) {
            e.preventDefault();
            $.get(this.href, function (result) {

                $('#modalS').html(result);
                $('#modalS').modal('show');
                var form = $('#formcr');
                form.removeData('validator');
                form.removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse(form);
            });
        });

        $('.Edit-partitionname').on('click', function (e) {
            e.preventDefault();
            $.get(this.href, function (result) {

                $('#modalS').html(result);
                $('#modalS').modal('show');
                var form = $('#formcr');
                form.removeData('validator');
                form.removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse(form);
            });
        });
    });


</script>

